/* Latte */
.App {
    /* Catppuccin Latte Crust */
    font-family: "ComicShannsMono Nerd Font Propo";
    /* Catppuccin Latte Text */
    color: #4c4f69;
    background-color: #eff1f5;
    font-size: 12pt;
    margin: 0;
    padding: 5px;
    height: 100vh - 50px;
    border-radius: 5px;
}

.header {
    /* Catppuccin Latte Crust */
    background-color: #eff1f5;
    /* Catppuccin Latte Text */
    color: #8839ef;
    padding: 2pt;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header h2 {
    flex-grow: 1;
    text-align: center;
}

.themeBtn {
    -webkit-app-region: no-drag;
    background-color: #7287fd;
    /* Catppuccin Latte Text */
    color: #c6d0f5;
    border: none;
    cursor: pointer;
    border-right: 1px solid #acb0be;
    border-radius: 7px;
    margin-top: 15pt;
    width: 30pt;
    height: 30pt;
}

.themeBtn:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    height: calc(100vh - 150px);
    min-height: 500px;
}

.menu {
    /* Catppuccin Latte Crust */
    background-color: #e6e9ef;
    /* Catppuccin Latte Text */
    color: #4c4f69;
    text-align: center;
    padding: 5pt;
    font-size: 16pt;
    width: 12%;
    flex-shrink: 0;
    /* Catppuccin Latte Surface2 */
    border-right: 1px solid #acb0be;
    border-radius: 15px;
    margin: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

.menu-item {
    color: #7287fd;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: block;
    margin: 5px 0;
}

.menu-item:hover {
    background-color: #D8BFD8;
    color: #ffffff;
    transform: translateX(5px);
}

.menu-item.router-link-active {
    background-color: #7287fd;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(136, 57, 239, 0.3);
}

.content {
    width: 88%;
    /* Catppuccin Latte Base */
    background-color: #eff1f5;
}

.footer {
    /* Catppuccin Latte Crust */
    background-color: #eff1f5;
    /* Catppuccin Latte Surface2 */
    color: #7c7f93;
    padding: 10pt;
    text-align: center;
    /* Catppuccin Latte Surface2 */
    border-top: 1px solid #acb0be;
}