.Home {
    /* Catppuccin Latte Crust */
    font-family: "ComicShannsMono Nerd Font Propo";
    /* Catppuccin Latte Text */
    color: #4c4f69;
    background-color: #eff1f5;
    text-align: center;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

a {
    color: #7287fd;
    text-decoration: none;
}

* {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}