/* Frappe */
/* Multi message popup */
.popup-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

/* Single message popup */
.popup-message-item {
    font-family: "ComicShannsMono Nerd Font Propo";
    background-color: rgba(140, 170, 238, 0.7);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: #c6d0f5;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    width: auto;
    text-align: center;
    position: relative;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.popup-message-item.show {
    transform: translateX(0);
    opacity: 1;
}

.popup-message-item .popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #a5adce;
    line-height: 1;
}

.popup-message-item .popup-close:hover {
    color: #c6d0f5;
}

.popup-message-item .popup-message-text {
    margin: 0;
    font-size: 14px;
    padding-right: 15px;
}